@model BranchUpdateViewModel

<h1 class="display-6 mt-2">Ders Güncelleme</h1>
<hr />

<form asp-area="Admin"
      asp-controller="Branches"
      asp-action="Edit"
      method="post"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-6 d-flex  align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <input class="form-control" asp-for="BranchName">
                <label class="form-label" asp-for="BranchName"></label>
                <span class="text-danger" asp-validation-for="BranchName"></span>
            </div>
        </div>

        <div class="col-6 d-flex  align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <input class="form-control" asp-for="Description">
                <label class="form-label" asp-for="Description"></label>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>
    </div>


    <div class="col-6 d-flex  align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <input type="checkbox" class="form-check-input" asp-for="IsApproved">
            <label class="form-check-label" asp-for="IsApproved"></label>
        </div>
    </div>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
    </div>

</form>


