<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
        <i class="fas fa-fw fa-table"></i>
        <span>Siteye Git</span>
    </a>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin AnaSayfa</a>
</li>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Teachers" asp-action="Index">Öğretmenler</a>
</li>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Students" asp-action="Index">Öğrenciler</a>
</li>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Branches" asp-action="Index">Dersler</a>
</li>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roller</a>
</li>
<li class="menu-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Kullanıcılar</a>
</li>