<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 ">OrtaOkul</h4>
            <h1 class="display-3 font-weight-normal text-white">

                Çocuk Eğitiminde Yeni Yaklaşım
            </h1>
            <p class="text-white mb-4">
                Ortaokul ve Lise öğrencilerine, tüm dersler ve LGS’ de özel ders
                veren uzman kadromuz öğrencinizin başarısını destekliyor.Seçkin Eğitim ortaokul öğretmenleri; alanında kendisini yetiştirmiş, kendi dersinin konu hakimiyeti tam ve öğrenci ile iletişimi iyi olan öğretmenlerdir . Ortaokul öğretmenlerinin tamamına yakını özel ders deneyimli ve üniversitelerin kendi alanları ile ilgili bölümlerinden mezun branş öğretmenleridir.
            </p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5 mb-4">Daha fazla bilgi edin</a>

        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="~/images/ortaokul-ogrenci.png" alt="" />
        </div>
    </div>
</div>